@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #69443C;
    font-family: 'Nunito', sans-serif;
}


.section1 {
    min-height: 100vh;
    padding: 3rem 5rem 0 3rem;
    position: relative;
}
.section1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 38vw;
    background-image: url(../midia/livro.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    max-width: 1100px;
    margin: auto;
}

a p:hover {
    background-color: #69443C;
    color: #fff;
}

button .login {
    border: none;
    /* alinha pra direita */
    border-radius: 10px;
}

.icon-login {
    height: 100%;
    background-color: #fff;
    color: black;
}
.icon-login:hover {
    width: 70%;
    height: 100%;
    background-color: black;
    color: #fff;
}
.section-title {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 900;
    background: linear-gradient(#69443C, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.list-section1 {
    margin-top: 5rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list-section1 .section1-box {
    background-color: #ddc4a1;
    padding: 4rem 1.5rem 1.5rem 1.5rem;
    max-width: 510px;
    position: relative;
    transition:  .2s linear;
}

.list-section1 .section1-box:hover {
    box-shadow: 0 16px 15px -15px #69443C;
}
.list-section1 .section1-box:not(:last-of-type) {
    margin-bottom: 4rem;
}
.list-section1 .section1-box .icon {
    position: absolute;
    height: 80px;
    width: 80px;
    background-color: #000;
    text-align: center;
    color: #fff;
    line-height: 80px;
    top: -40px;
    right: -40px;
}
.list-section1 .section1-box .text {
    font-size: .9rem;
    margin-bottom: 1rem;
    color: #8b645b; 
}
.list-section1 .section1-box .title {
    background: linear-gradient(#69443C, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: .99rem;
    font-weight: 900;
    transform: scaleY(1.05);
}

@media screen and (min-width: 910px) {
    .list-section1 {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .list-section1 .section1-box {
        position: relative;
        max-width: 40%;
    }
}

@media screen and (min-width: 1020px) {
    .list-section1 {
        flex-wrap: nowrap;
        justify-content: space-between;
        
    }
    .list-section1 .section1-box {
        width: 30%;
        margin: 0 !important;
    }
}


.section2 {
    height: 100vh;
    width: auto;
    background-color: #C1A57F;
}

div a {
    font-family: 'Source Serif 4', sans-serif;
    align-self: center;
    text-transform: lowercase;
    text-decoration: none;
    color: #69443C;
}

div a:hover {
    color: #fff;
    background-color: #69443C;
    border-radius: 4%;
}

.navindex {
    background-color: #C1A57F;
}

#rodape {
    background-color: rgb(rgba(255, 0, 0, 0));
}




