<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>test</title>
  <meta name="description" content="">
  <link rel="stylesheet" type="text/css" href="livro.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="app">
        <header>
            <h1>{{ appTitle }}</h1>
        </header>
        <div class="grid">
            <div class="col-sx">
                <div class="products">
                    <h2>Products</h2>
                    <ul class="products-list">
                        <li class="product" v-for="(prod, ind) in products" :key="'ind-' + ind">
                            <div class="box">
                                <div class="image"></div>
                                <h3 class="title">{{ prod.title }}</h3>
                                <p class="price">{{ prod.price | currency }}</p><button @click="addItem(prod)">Add to cart</button>
                            </div>
                        </li>
                    </ul>
                    <ul class="products-list">
                        <li class="product" v-for="(prod, ind) in products" :key="'ind-' + ind">
                            <div class="box">
                                <div class="image"></div>
                                <h3 class="title">{{ prod.title }}</h3>
                                <p class="price">{{ prod.price | currency }}</p><button @click="addItem(prod)">Add to cart</button>
                            </div>
                        </li>
                    </ul>
                    <ul class="products-list">
                        <li class="product" v-for="(prod, ind) in products" :key="'ind-' + ind">
                            <div class="box">
                                <div class="image"></div>
                                <h3 class="title">{{ prod.title }}</h3>
                                <p class="price">{{ prod.price | currency }}</p><button @click="addItem(prod)">Add to cart</button>
                            </div>
                        </li>
                    </ul>
                    <ul class="products-list">
                        <li class="product" v-for="(prod, ind) in products" :key="'ind-' + ind">
                            <div class="box">
                                <div class="image"></div>
                                <h3 class="title">{{ prod.title }}</h3>
                                <p class="price">{{ prod.price | currency }}</p><button @click="addItem(prod)">Add to cart</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-dx">
                <div class="cart">
                    <h2>Your Cart</h2>
                    <table class="cart-list" v-if="cart.length">
                        <thead>
                            <tr>
                                <th class="head-title">Product</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="cart-item" v-for="(item, id) in cart" :key="'id-' + id">
                                <td>
                                    <h4 class="title">nome</h4>
                                </td>
                                <td>
                                    <div class="price">preço</div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="3">
                                    <h4 class="total-title">Total</h4>
                                </th>
                                <th>total</th>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="empty-contents" v-else="v-else">
                        <div class="draw">
                            <div class="cactus">
                                <div class="arm"></div>
                                <div class="arm"></div>
                            </div>
                            <div class="cactus">
                                <div class="arm"></div>
                                <div class="arm"></div>
                            </div>
                            <div class="cactus">
                                <div class="arm"></div>
                                <div class="arm"></div>
                            </div>
                            <div class="sky">
                                <div class="montain"></div>
                                <div class="montain two"></div>
                                <div class="sun"></div>
                            </div>
                        </div>
                        <p class="no-items-text">Your cart is actually empty</p>
                    </div>
                </div>
            </div>
        </div>
    </div>      
    <script src="https://unpkg.com/vue@next"></script></td>
    <script src="livro.js"></script>

</body>
</html>
