@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700;900&display=swap');

*{
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
   }
   
   :root{
     --bg-nav       : #000000;
     --bg           : #fff;
     --blue         : #fff;
     --grey         : #444;
     --white        : #FFFFFF;
     --black        : #000;
     --header-height: 4rem;
   }
   
   body{
     background: var(--bg);
   }
   
   /* Estilos header */
   .header{
     height       : var(--header-height);
     width        : 100%;
     position     : fixed;
     top          : 0;
     background   : var(--white);
     border-bottom: 0.7px solid rgba(0,0,0,0.1);
   }
   
   .logo-img{
     height : 2rem;
     display: block;
   }
   
   .wrapper{
     height         : 100%;
     width          : 90%;
     max-width      : 1200px;
     margin         : 0 auto;
     display        : flex;
     justify-content: center;
     align-items    : center ;
   }
   
   /* Estilos nav */
   .nav{
     width     : 100%;
     position  : fixed;
     bottom    : 0;
     background: var(--bg-nav);
   }
   
   .menu{
     display   : flex;
     list-style: none;
   }
   
   .item{
     width: 25%;
   }
   
   .link{
     display        : block;
     color          : var(--grey);
     font-size      : 0.75em;
     font-family    : "Raleway", sans-serif;
     text-align     : center;
     text-decoration: none;
     padding        : 0.5rem 0;
   }
   
   .icon{
     --size : 1.5rem;
     width  : var(--size);
     height : var(--size);
     display: block;
     margin : 0 auto 0.25rem;
     fill   : var(--grey);
   }
  div a {
    font-family: 'Nunito', sans-serif;
    align-self: center;
    text-transform: lowercase;
    text-decoration: none;
    color: var(--bg);
  }

  div a:--white {
    color: var(--white);
    background-color: var(--bg);
    border-radius: 4%;
  }
   .title {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 900;
    background: linear-gradient(var(--grey), var(--black));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
   
   .icon-image{
     border-radius: 50%;
   }
   
   .active{
     color: var(--blue);
   }
   
   .active .icon{
     fill: var(--blue);
   }
   
   /* Responsive */
   @media only screen and (min-width: 2040px){
   
     .wrapper{
       justify-content: space-between;
     }
   
     .nav{
       width      : max-content;
       height     : var(--header-height);
       position   : relative;
       display    : flex;
       align-items: center;
       background : none;
     }
   
     .item{
       margin-left: 1.5rem;
     }
   
     .link{
       font-size: 0.9rem;
     }
   
     .icon{
       display: none;
     }
   }